@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: $control-font-weight;
  background-color: $component-bg-color;
  user-select: none;
}

.header {
  width: 100%;
  align-self: flex-start;
  padding: $control-padding;
  font-size: $control-font-size;
  display: flex;
  justify-content: space-between;
  @include borders();

  &__controls {
    &__item {
      margin-left: $control-icons-margin-left;
      cursor: pointer;
    }
  }
}
.grid {
  display: block;
  @include borders();
  padding-bottom: 40px;
  margin-top: -1px;
}
.day-names-grid {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: $calendar-items-font-size;
}

.days-number-grid {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: $calendar-items-font-size;

  &__cell {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;

    &--active-week {
      background-color: $active-week-bg-color;
    }

    &__item {
      padding: 7px 0;
      width: 100%;

      &--current-day {
        color: $active-day-font-color;
        background-color: $active-day-bg-color;
        border-radius: 4px;
      }

      &--not-current-month {
        color: $weekday-font-color;
      }
    }
  }
}

.weekday {
  color: $weekday-font-color;
}

.active-appointment {
  position: absolute;
  background-color: $active-appointment-bg-color;
  width: 0.5em;
  height: 0.5em;
  transform: translateY(2em);
  border-radius: 100px;
}

.not-active-appointment {
  position: absolute;
  background-color: $not-active-appointment-bg-color;
  width: 0.5em;
  height: 0.5em;
  transform: translateY(2em);
  border-radius: 100px;
}
